:host {
  background-position: left;
}

ion-content.loginPage {
  --keyboard-offset: 0;
  --background: transparent;
}

.pardonTop {
  margin-top: 10%;
}

.button-disabled {
  --opacity: .95 !important;
  --background: var(--ion-color-medium) !important;
}

.item-native {
  background-color: rgba(101, 101, 101, 0.51) !important;
  color: white !important;
}

.term-block {
  font-size: 15px;
}

.term-block a{
  cursor: pointer;
  color: #007bff;
}

.term-block ion-label{
  text-overflow: unset;
  white-space: unset;
}

ion-button.new-light-btn {
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
  border-radius: 8px;
  min-width: 160px;
}

.botton-right {
  position: fixed;
  bottom: 0;
  right: 0;
}
