<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Sample List</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="action-card">
        <ion-item class="ion-padding">
            <ion-input class="transparent" name="barcodenumber" (ionInput)="setFilteredLocations($event)" type="text" placeholder="Barcode Search"></ion-input>
        </ion-item>
    </ion-card>
    <div class="mrg_bottom_submit">
        <div class="AllassetList">
            <div class="dark white-text result-asset-list barcode_division" id="{{asset.assetid}}" *ngFor="let asset of assetfilterlist">
                <ion-grid>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Serial#: </strong>
                        </ion-col>
                        <ion-col size="6" class="asset-list-value serialnumber">
                            {{asset.assetname}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Unit ID: </strong>
                        </ion-col>
                        <ion-col size="6">
                            {{asset.cf_1164}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Equipment Type: </strong>
                        </ion-col>
                        <ion-col size="6">
                            {{asset.cf_922}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Substation: </strong>
                        </ion-col>
                        <ion-col size="6">
                            {{asset.multiaddressid}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div *ngIf="assetfilterlist.length == 0">
                <div class="col-12" style="text-align: center;">
                    <div class="alert alert-warning ng-binding">No records found.</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>