
<ion-toolbar text-center>
    <ion-buttons slot="secondary">
        <ion-button type="button" name="close" class="ion-close-center" size="small" (click)="closeModal()">
            <ion-icon name="close" size="small"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{header}}</ion-title>
</ion-toolbar>
<div class="inner-content">
    <ion-grid>
        {{message}}
    </ion-grid>
</div>
<Ion-footer>
    <Ion-toolbar>
        <div>
            <ion-button (click)="closeModal(true)" color="secondary" size="default" slot="end" type="button" style="float: right; margin: 10px;">ok</ion-button>
        </div>
    </Ion-toolbar>
</Ion-footer>