<ion-content>
    <image-cropper style="height: 80%;padding: 35px 10px;"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [canvasRotation]="canvasRotation"
            [cropper] ="coordinates"
            [transform]="transform"
            [alignImage]="'center'"
            [imageBase64]="imageBase64String"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-button expand="block" (click) = "closeModal();">Cancel</ion-button>
            </ion-col>
            <ion-col col-6>
                <ion-button expand="block" color="secondary" (click) = "saveModal();">Save</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>