<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header color="primary">
                <ion-toolbar translucent color="primary">
                    <ion-title></ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="primary">
                <ion-list id="inbox-list">
                    <div *ngFor="let pages of Pages; let i = index">
                        <ion-menu-toggle *ngIf="pages.url">
                            <ion-item *ngIf="pages.url != 'logout' "
                                      (click)="activeIndex = i;"
                                      routerDirection="root"
                                      [routerLink]="[pages.url]" lines="none"
                                      [class.selected]="activeIndex == i" color="primary">
                                <ion-icon slot="start" [name]="pages.icon+ '-outline'"></ion-icon>
                                <ion-label>{{ pages.title }}</ion-label>
                            </ion-item>

                            <ion-item *ngIf="pages.url == 'logout' " (click)="logoutUser()" lines="none"
                                      detail="false" [class.selected]="activeIndex == i" color="primary">
                                <ion-icon slot="start" [name]="pages.icon+ '-outline'"></ion-icon>
                                <ion-label>{{ pages.title }}</ion-label>
                            </ion-item>
                            
                        </ion-menu-toggle>

                        <ion-item button *ngIf="pages.isSubmenuShow"
                                  (click)="pages.submenuShow = !pages.submenuShow"
                                  lines="none" color="primary">
                            <ion-icon slot="start" [name]="pages.icon+ '-outline'"></ion-icon>
                            <ion-label>{{ pages.title }}</ion-label>
                        </ion-item>

                        <ion-list *ngIf="pages.submenuShow">
                            <ion-menu-toggle>
                                <ion-item *ngFor="let subMenu of pages.submenu;" [hidden]="!pages.submenuShow"
                                          [routerLink]="[subMenu.url]"
                                          (click)="pages.submenuShow = !pages.submenuShow"
                                          class="sub-menu" color="primary">
                                    <ion-icon slot="start" [name]="subMenu.icon+ '-outline'"></ion-icon>
                                    <ion-label>{{ subMenu.title }}</ion-label>
                                </ion-item>
                                <ion-item lines="none" class="sub-menu" color="primary"></ion-item>
                            </ion-menu-toggle>
                        </ion-list>
                    </div>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>