<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="primary">
            <ion-button type="button" color="secondary" name="close" class="ion-close-center" size="large" (click)="closeModal()">
                <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>MVA TERMS AND CONDITIONS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img src="assets/img/TermsCondition/1.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/2.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/3.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/4.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/5.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/6.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/7.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/8.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/9.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/10.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/11.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/12.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/13.jpg" style="width: 100%;">
    <img src="assets/img/TermsCondition/14.jpg" style="width: 100%;">
    <div class="ion-padding">
        <ion-button (click)="closeModal(true)" color="secondary" size="default" slot="end" type="button">I AGREE</ion-button>
    </div>
</ion-content>