<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="primary">
            <ion-button type="button" color="secondary" name="close" class="ion-close-center" size="large" (click)="closeModal()">
                <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="padding-inline: 10px;">{{modalTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
	<form class="ion-padding">
        <table class="assetcreatetable form-table">
            <tbody>
            <tr *ngFor="let fieldDetail of AssetfieldList; let key=index">
                <td class="lblasset">
                    <ion-label>
                        <span class="redColor" *ngIf="fieldDetail.typeofdata == 'V~M'">*</span> {{fieldDetail.label}}
                    </ion-label>
                </td>
                <td>
                    <ion-input class="ioninput" *ngIf="fieldDetail.uitype == '1'" type="text" name="{{fieldDetail.fieldname}}"  id="{{fieldDetail.fieldname}}" placeholder="Press Here To Type" (ionChange)="addUpdate($event)" value="{{fieldDetail.value}}">
                    </ion-input>
                    <ion-input class="ioninput" *ngIf="fieldDetail.uitype == '11'" type="text" name="{{fieldDetail.fieldname}}"  id="{{fieldDetail.fieldname}}" placeholder="Press Here To Type" (ionChange)="addUpdate($event)" value="{{fieldDetail.value}}" disabled="true">
                    </ion-input>
                    <div *ngIf="fieldDetail.uitype == '2'">

                        <ion-label position="floating">hh:mm A</ion-label>
                        <ion-datetime class="ioninput" id="{{fieldDetail.fieldname}}" name="{{fieldDetail.fieldname}}" displayFormat="hh:mm A" min="1994-03-14" max="2052-12-09"  (ionChange)="addUpdate($event,'time')" value="{{fieldDetail.value}}"></ion-datetime>

                    </div>
                    <div *ngIf="fieldDetail.uitype == '5'">
                        <ion-label position="floating">MM/DD/YYYY</ion-label>
                        <ion-datetime class="ioninput" id="{{fieldDetail.fieldname}}" name="{{fieldDetail.fieldname}}" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2052-12-09"  (ionChange)="addUpdate($event,'date')" value="{{fieldDetail.value}}"></ion-datetime>
                    </div>
                    <div *ngIf="fieldDetail.uitype == '15'" class="picklist-drowpdown">
                        <ion-select class="ioninput" id="{{fieldDetail.fieldname}}" lines="none" (ionChange)="addUpdate($event)" name="{{fieldDetail.fieldname}}" value="{{fieldDetail.value}}">
                            <div *ngFor="let picklist of fieldDetail.picklistvalues">
                                <ion-select-option value="{{picklist}}">{{picklist}}</ion-select-option>
                            </div>
                        </ion-select>
                    </div>
                    <div *ngIf="fieldDetail.uitype == '155'" id="{{fieldDetail.fieldname}}div" class="picklist-drowpdown">
                        <select id="{{fieldDetail.fieldname}}" class="select2" style="width: 100%;height: 2em;"name="{{fieldDetail.fieldname}}" value="{{fieldDetail.value}}" change="updatemultilocation()">
                            <option value="" selected="selected">Choose An Option</option>
                            <option *ngFor="let picklist of fieldDetail.picklistvalues" value="{{picklist.crmid}}">{{picklist.address1}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lblasset">
                    <ion-label position="floating"><span class="redColor">*</span></ion-label>
                </td>
                <td>
                    Mandatory Fields
                </td>
            </tr>
            </tbody>
        </table>
        
    </form>

    <div class="ion-padding">
        <ion-button type="button" expand="block" class="add-image" color="secondary" stack="right" (click)="submitform()">Save</ion-button>
    </div>
</ion-content>
