<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>My MVA Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot ="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content
                pullingIcon="arrow-down"
                pullingText="Pull to refresh"
                refreshingSpinner="bubbles"
                refreshingText="Refreshing....."></ion-refresher-content>
    </ion-refresher>
    <div class="ion-text-center navbar-brand ng-binding navbar_p_spacing">Select Asset</div>
    <ion-card class="action-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                      <ion-select id="assetfilter" [(ngModel)]="assetfilter" value="serialnumber">
                        <ion-select-option value = "serialnumber">Serial#</ion-select-option>
                        <ion-select-option value = "unitid">Unit ID</ion-select-option>
                        <ion-select-option value = "equipmentid">Equipment Type</ion-select-option>
                        <ion-select-option value = "substationname">Substation</ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col>
                  <div><ion-input class="transparent" name="barcodenumberasset" id="barcodenumberasset" (ionChange)="getbarcodenumberasset()" type="text" [(ngModel)]="barcodenumberasset" placeholder="Type to search"></ion-input></div>
                </ion-col>
              </ion-row>
          </ion-grid>
        <ion-card-content>
            <div class="ion-padding">
                <ion-button id="submit-button" color="secondary" expand="block" (click)="openActionSheet()">SCAN SERIAL #</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
    <div class="ion-text-center navbar-brand ng-binding navbar_p_spacing">Assets List</div>
    <div class="mrg_bottom_submit">
        <div class="AllassetList">
            <div class="dark white-text result-asset-list barcode_division" [ngClass]="assetsentrieselected > '0' && asset.assetid == assetsentrieselected ? (assetsentrieselected == '') ? '' : 'selected': (assetsentrieselected == '') ? '' : ''" class="dark white-text barcode_division asset-list" id="{{asset.assetid}}" *ngFor="let asset of assetfilterlist" (click) = "selecteasset(asset.assetid);">
                <ion-grid>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Serial#: </strong>
                        </ion-col>
                        <ion-col size="6" class="asset-list-value serialnumber">
                            {{asset.assetname}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Unit ID: </strong>
                        </ion-col>
                        <ion-col size="6">
                            {{asset.cf_1164}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Equipment Type: </strong>
                        </ion-col>
                        <ion-col size="6">
                            {{asset.cf_922}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="row asset-list-item">
                        <ion-col size="6">
                            <strong class="bolder asset-list-title">Substation: </strong>
                        </ion-col>
                        <ion-col size="6">
                            {{asset.multiaddressid}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div *ngIf="assetsentries.length == 0">
                <div class="col-12" style="text-align: center;">
                    <div class="alert alert-warning ng-binding">No records found.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row vertical-align asset_error_message" *ngIf="searchassetflag == 1">
        <ion-card>
            <ion-col size="6" class="ion-padding">
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center ng-binding">
                        <strong> No asset found. Please either re-scan serial number or create new asset.</strong>
                    </ion-label>
                </ion-item>
                <ion-card-content>
                    <div class="ion-padding">
                        <ion-button id="submit-button" color="secondary" expand="block" (click) = "createasset();">Create New Asset</ion-button>
                    </div>
                </ion-card-content>
            </ion-col>
        </ion-card>
    </div>
    <div *ngIf="assetsentrieselected > 0">
        <ion-row>
          <ion-col style="display: flex;">
            <ion-label class="navbar-brand" color="primary" style="margin:auto;">Select Tests</ion-label>
          </ion-col>
        </ion-row>
        <ion-card>
            <ion-card-content>
                <div class="ion-padding">
                    <ion-button id="submit-button" color="secondary" expand="block" (click)="clearTests($event);">Clear Tests for This Sample</ion-button>
                </div>
            </ion-card-content>
            <ion-card-content>
                <ion-radio-group [(ngModel)]="selectedbundle" style="display: flex" (ionChange)="checkTest($event)">
                <ion-col size="6">
                    <div *ngFor="let assetcheckbox of assetstestcheckbox" >
                        <ion-item *ngIf="assetcheckbox.isbundle == 0" class="ion-no-padding" lines="none">
                            <ion-label class="test-list-sample">{{assetcheckbox.checkboxname}}</ion-label>
                            <ion-checkbox style="margin: 5px" slot="start" color="primary" [(ngModel)]="assetcheckbox.checkboxvalue" value="{{assetcheckbox.fieldname}}"></ion-checkbox>
                        </ion-item>
                        <ion-item *ngIf="assetcheckbox.isbundle == 1" class="ion-no-padding" lines="none">
                          <ion-label>{{assetcheckbox.checkboxname}}</ion-label>
                          <ion-radio style="margin: 5px" slot="start" color="primary" name="sel_bundles" value="{{assetcheckbox.fieldname}}" id="{{assetcheckbox.fieldname}}" ></ion-radio>
                        </ion-item>
                    </div>
                </ion-col>

                <ion-col size="6">
                    <div *ngFor="let assetcheckbox of assetstestcheckbox1" >
                        <ion-item *ngIf="assetcheckbox.isbundle == 0" class="ion-no-padding" lines="none">
                            <ion-checkbox style="margin: 5px" slot="start" color="primary" [(ngModel)]="assetcheckbox.checkboxvalue" value="{{assetcheckbox.fieldname}}"></ion-checkbox>
                            <ion-label>{{assetcheckbox.checkboxname}}</ion-label>
                        </ion-item>
                        <ion-item *ngIf="assetcheckbox.isbundle == 1" class="ion-no-padding" lines="none">
                          <ion-label>{{assetcheckbox.checkboxname}}</ion-label>
                          <ion-radio style="margin: 5px" slot="start" color="primary" name="sel_bundles" value="{{assetcheckbox.fieldname}}" id="{{assetcheckbox.fieldname}}" ></ion-radio>
                        </ion-item>
                    </div>
                </ion-col>
                </ion-radio-group>
            </ion-card-content>
        </ion-card>
    
        <ion-card class="action-card">
            <ion-grid>
                <table class="assetcreatetable form-table">
                    <tbody>
                        <tr>
                            <td class="lblasset">
                                <ion-label color="primary">
                                    Sample Date
                                </ion-label>
                            </td>
                            <td>
                                <ion-input class="ioninput" name="sample_date" id="sample_date" type="date" [(ngModel)]="sample_date"></ion-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="lblasset">
                                <ion-label>
                                    Sample Oil Temperature (°C)
                                </ion-label>
                            </td>
                            <td>
                                <ion-input class="ioninput" name="sample_oil_temperature" id="sample_oil_temperature" type="text" [(ngModel)]="sample_oil_temperature"></ion-input>
                            </td>
                        </tr>
                        <tr *ngIf="istapcounterreading == 1">
                            <td class="lblasset">
                                <ion-label>
                                    Tap Counter Reading
                                </ion-label>
                            </td>
                            <td>
                                <ion-input class="ioninput" name="top_counter" id="top_counter" type="text" [(ngModel)]="topcounter"></ion-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="lblasset">
                                <ion-label>
                                    Comments
                                </ion-label>
                            </td>
                            <td>
                                <ion-input class="ioninput" name="identification_comments" id="identification_comments" type="text" [(ngModel)]="identification_comments"></ion-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="lblasset">
                                <ion-label>
                                    Sample Due Date
                                </ion-label>
                            </td>
                            <td>
                                <ion-input class="ioninput" name="sample_due_date" id="sample_due_date" type="date" [(ngModel)]="sample_due_date"></ion-input>
                            </td>
                        </tr>
                    </tbody>
                </table>
          </ion-grid>
        </ion-card>  
        <ion-card> 
            <ion-card-content class="ion-padding">
                <ion-button id="submit-button" color="secondary" expand="block" (click) = "createinspection();">Inspection Report</ion-button>
            </ion-card-content>
        </ion-card> 
        <ion-card color="primary">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        Barcode Number
                    </ion-col>
                    <ion-col>
                        {{barcode}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Equipment Type
                    </ion-col>
                    <ion-col>
                        {{equipmenttype}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Serial Number
                    </ion-col>
                    <ion-col>
                        {{assetnameentrieselected}}
                    </ion-col>
                </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card> 
            <ion-card-content class="ion-padding">
                <ion-button id="submit-button" color="secondary" expand="block" (click) = "SaveTests();">Save</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

