/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.modal-40 {
  background: rgba(0, 0, 0, 0.5) !important;
  --width: 95%;
  --height: 40%;
}
ion-toolbar h4.title{
  color: #183666;
}
ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }

    --height: auto;
    --width: 95%;
    color: #183666;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
            font-size: 20px;
        }
    }
}

.modal-50 {
  background: rgba(0, 0, 0, 0.5) !important;
  --width: 95%;
  --height: 50%;
}
.modal-60 {
  background: rgba(0, 0, 0, 0.5) !important;
  --width: 95%;
  --height: 60%;
}
.modal-70 {
  background: rgba(0, 0, 0, 0.5) !important;
  --width: 95%;
  --height: 70%;
}
.modal-80 {
  background: rgba(0, 0, 0, 0.5) !important;
  --width: 95%;
  --height: 80%;
}
ion-header ion-toolbar {
  color: #ffffff;
  --background: #193667;

  ion-menu-button {
    color: #fcb426;
  }
}
.ioninput{
  border: 1px solid gray;
    border-radius: 5px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 16px;
}
.my-custom-class .alert-message.sc-ion-alert-md{
  font-size: 20px !important;
  white-space: break-spaces
}
.md .bar.bar-header.bar-stable {
    padding: 0px 10px;
}
.md .modal-default ion-toolbar.md.in-toolbar.hydrated {
    --background: var(--ion-toolbar-background, var(--ion-color-step-50, #f7f7f7));
}
ion-checkbox {
  --size: 16px;
  --background-checked: #193667;
}

ion-checkbox::part(container) {
  border-radius: 4px;
  border: 2px solid #193667;
}
ion-radio {
  --border-radius: 50%;
  --inner-border-radius: 50%;

  --color: #ddd;
  --color-checked: #193667;
}

ion-radio.ios {
  width: 16px;
  height: 16px;

  border: 2px solid #ddd;
  border-radius: 50%;
}

.radio-checked.ios {
  border-color: #193667;
}
