.navbar_p_spacing {
    padding: 1rem 0;
    color: #193667;
}
.navbar-brand {
    font-size: 1rem;
}
.navbar-brand {
    font-weight: bold;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.navbar-brand {
    line-height: inherit;
    white-space: nowrap;
}
.card-content-ios{
    padding-top: 0px;
}